---
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths({ paginate }) {
	const astronautPages = [
		{
			astronaut: "ニール・アームストロング",
		},
		{
			astronaut: "バズ・オルドリン",
		},
		{
			astronaut: "サリー・ライド",
		},
		{
			astronaut: "ジョン・グレン",
		},
	];
	// 宇宙飛行士の配列から、1ページに2人づつ入るようにページを生成する
	return paginate(astronautPages, { pageSize: 2 });
}
// ページ分割されたデータは、すべて "page" プロパティとして渡される
const { page } = Astro.props;
---

<Layout>
	<!--現在のページ番号を表示します。Astro.params.pageも使用可能です！-->
	<h1>{page.currentPage}ページ</h1>
	<ul>
		<!--宇宙飛行士情報の配列を列挙する-->
		{page.data.map(({ astronaut }) => <li>{astronaut}</li>)}
	</ul>
	{page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
	{page.url.next ? <a href={page.url.next}>Next</a> : null}
</Layout>
