---
import ContentLayout from '@/layouts/ContentLayout.astro'
import { getCollection } from 'astro:content'
const posts = await getCollection('blog')
---

<ContentLayout>
  <ul>
    {
      posts.map((post) => (
        <li>
          <time datetime={post.data.pubDate.toISOString()}>
            {new Intl.DateTimeFormat('ja-JP').format(post.data.pubDate)}
          </time>
          <br />
          <a href={`/${post.collection}/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</ContentLayout>
