---
export const prerender = true
import Layout from '../layouts/Layout.astro'
import { Icon } from 'astro-icon'

import { SITE_TITLE } from '@/config'
---

<Layout>
  <article class="grid gap-y-16">
    <div class="relative min-h-screen">
      <section class="relative grid place-content-center min-h-168 lg:h-full bg-gradient-to-b from-cyan-300/95 to-transparent">
        <i>
          <Icon class="w-full px-4 text-neutral-100" name={'ph:infinity-bold'} />
        </i>
        <p class="text-center text-c-lg text-text font-bold">リニューアル中</p>
      </section>
      <i class="absolute bottom-6 right-6 animate-bounce">
        <Icon class="h-12 text-gray-800/80" name={'bi:arrow-down'} />
      </i>
    </div>
  </article>
</Layout>
