---
export const prerender = true
import Layout from '../layouts/Layout.astro'
import TopSection from '@/layouts/parts/top/TopSection.astro'
import TopSectionSkill from '@/layouts/parts/top/TopSectionSkill'
import { Icon } from 'astro-icon'

import { Picture } from '@astrojs/image/components'
import mv from '/public/img/top-mv.jpg'

import { SITE_TITLE } from '@/config'
---

<Layout>
  <article class="grid gap-y-16">
    <section class="relative min-h-168 grid place-content-center bg-gradient-to-b from-cyan-300/95 to-transparent">
      <i>
        <Icon class="w-full px-4 text-neutral-100" name={"mdi:infinity"}></Icon>
      </i>
    </section>
    <section>
      <p class="text-center text-c-lg text-gray-300 line-through decoration-gray-100">
        MVのデザインお待ちしております。
      </p>
    </section>
  </article>
</Layout>
