---
import HeaderLink from './HeaderLink.astro'

import { Icon } from 'astro-icon'

const GLOBAL_NAV = [
  {
    text: 'ホーム',
    subText: 'Home',
    href: '/',
    icon: 'ic:outline-home',
  },
  {
    text: 'このサイトについて',
    subText: 'About',
    href: '/about/',
    icon: 'ic:outline-question-mark',
  },

  {
    text: 'ブログ',
    subText: 'Blog',
    href: '/blog/',
    icon: 'ic:outline-menu-book',
  },
]
---

<header
  class="fixed z-20 flex w-full items-center justify-between border-t border-gray-300 bg-white px-8 py-2.5 max-md:bottom-0 md:top-0 md:py-5"
>
  <nav class="flex items-center gap-x-5 max-md:flex-1 max-md:justify-evenly">
    {
      GLOBAL_NAV.map((item) => (
        <HeaderLink href={item.href}>
          <i class="flex max-md:flex-col max-md:items-center md:hidden">
            <Icon class="h-6 w-6" name={item.icon} />
            <span class="font-poppins text-c-xs font-bold md:hidden" set:html={item.subText} />
          </i>
          <span class="text-c-sm font-medium max-md:hidden" set:html={item.text} />
        </HeaderLink>
      ))
    }
  </nav>
  <div class="max-md:hidden">
    <a href="https://twitter.com/9J_my" target="_blank" aria-label="Open to developer twitter">
      <Icon class="h-6 w-6 text-c-twitter transition-opacity duration-300 hover:opacity-80" name="ph:twitter-logo" />
    </a>
  </div>
</header>
