---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
import { HTMLTag,Polymorphic } from 'astro/types';
const { href, class: className, ...props } = Astro.props
---

<a
  href={href}
  class="flex gap-x-1 justify-center items-center max-md:p-2 no-underline transition-opacity duration-300 hover:opacity-80"
  class:list={[className]}
  {...props}
>
  <slot />
</a>
